@use "var";

@media (max-width: var.$desktop) {
	html,
	body {
		font-size: 22px;
	}
}

@media (max-width: var.$tablet) {
	html,
	body {
		font-size: 18px;
	}

	.container {
		padding: 0 20px;
	}

	.header {
		&__body {
			justify-content: flex-end;
		}

		&__hamburger {
			position: relative;
			width: 40px;
			height: 40px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 3;
			gap: 10px;
			cursor: pointer;
			z-index: 3;
			transition: 0.3s;

			&:hover {
				opacity: 0.7;
			}

			span {
				display: block;
				width: 40px;
				height: 2px;
				background-color: var.$white;
				transition: all 0.2s ease;
				cursor: pointer;
				text-align: center;
				border-radius: 2px;
			}

			&_active {
				span {
					text-align: center;
					position: absolute;

					&:first-child {
						transform: rotate(45deg);
					}

					&:last-child {
						transform: rotate(-45deg);
					}
				}
			}
		}

		&__logo {
			display: block;
			z-index: 2;
			// opacity: 1;

			// &_hidden {
			// 	opacity: 0;
			// }

			img {
				display: block;
				width: 160px;
				height: 60px;
				cursor: pointer;
			}
		}

		&__nav {
			position: fixed;
			top: 100px;
			right: 0;
			left: 0;
			bottom: 0;
			height: 100vh;
			padding: 20px;
			background-color: var.$black;
			overflow-y: auto;
			display: flex;
			align-items: flex-start;
			opacity: 0;

			&_active {
				opacity: 1;
				z-index: 2;
			}
		}

		&__menu {
			flex-direction: column;
		}

		&__menu-item {
			margin: 20px;
		}

		&__menu-link_logo {
			margin: 10px;

			img {
				width: 160px;
				height: 60px;
			}
		}
	}
}
