// Colors
$black: #000;
$white: #FFF;

// Media
$mobile: 320px;
$tablet: 719px;
$desktop: 1023px;

// Typography
$ff-myriad-pro: "MyriadPro", "Helvetica", sans-serif;
$ff-roboto-slab: "RobotoSlab", "Arial", serif;

// Sizes
$fs-base: 24px;
$fs-accent: 1.2rem;
$fs-subtitle: 1.44rem;
$fs-title: 1.7279rem;

