@font-face {
	font-family: "RobotoSlab";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Rubik-Light";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Oswald-SemiBold";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Oswald-SemiBold.woff") format("woff"), url("../fonts/Oswald-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Oswald-Bold";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.woff2") format("woff2");
}
