@font-face {
	font-family: "GothamLight";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/GothamLight.woff") format("woff"), url("../fonts/GothamLight.woff2") format("woff2");
}

@font-face {
	font-family: "GothamMedium";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/GothamMedium.woff") format("woff"), url("../fonts/GothamMedium.woff2") format("woff2");
}

@font-face {
	font-family: "GothamBlack";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/GothamBlack.woff") format("woff"), url("../fonts/GothamBlack.woff2") format("woff2");
}
