@use "global/_var.scss";

.no-scroll {
	overflow: hidden;
}

.text-normal {
	text-transform: none;
}

.uppercase {
	text-transform: uppercase;
}

.lock {
	overflow: hidden;
	-webkit-overflow-scrolling: none;
	touch-action: none;
}
