@use "global/_var.scss";

.no-scroll {
	overflow: hidden;
}


.lock {
	overflow: hidden;
	-webkit-overflow-scrolling: none;
	touch-action: none;
}

.overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;

	&.active {
		display: flex;
	}
}

.toggle-visible {
	opacity: 0;
	visibility: hidden;

	&_visible {
		opacity: 1;
		visibility: visible;
	}
}

.section {
	margin-top: 8.75rem;

	@include vp-1023 {
		margin-top: 6rem;
	}

	@include vp-767 {
		margin-top: 4rem;
	}
}

.title {
	font: {
		family: $ff-gotham-black;
		size: 2.25rem;
	}
	color: $color-verdun-green;
	text-transform: uppercase;
	margin-bottom: 4rem;
	text-align: center;
}
