@use "global/_var.scss";

.no-scroll {
	overflow: hidden;
}

.text-normal {
	text-transform: none;
}

.uppercase {
	text-transform: uppercase;
}

.lock {
	overflow: hidden;
	-webkit-overflow-scrolling: none;
	touch-action: none;
}

.overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;

	&.active {
		display: flex;
	}
}
