// Colors
$black: 					#000000;
$white: 					#FFFFFF;
$night-rider:				#2C2C2C;
$very-light-grey:			#CCCCCC;
$nero:						#1B1B1B;
$white-smoke:				#F6F6F6;

// Media
$vp-320: 					320px;
$vp-768: 					768px;
$vp-1024: 					1024px;
$vp-1366: 					1366px;

// Typography
$ff-rubik-light: 			"Rubik-Light", "Arial", serif;
$ff-oswald-semi-bold: 		"Oswald-SemiBold", "Arial", serif;
$ff-oswald-bold: 			"Oswald-Bold", "Arial", serif;

// Sizes
$fz-default: 				18px;
$fz-subtitle: 				1.3333rem;
$fz-title:					1.5556rem;
