// Colors
$color-black: 					#000000;
$color-white: 					#FFFFFF;
$color-very-light-grey:			#CCCCCC;
$color-nero:						#1B1B1B;
$color-white-smoke:				#F6F6F6;

// Media
$vp-320: 					320px;
$vp-768: 					768px;
$vp-1024: 					1024px;
$vp-1366: 					1366px;

// Typography
$ff-rubik-light: 			"Rubik-Light", "Arial", serif;
$ff-oswald-semi-bold: 		"Oswald-SemiBold", "Arial", serif;
$ff-oswald-bold: 			"Oswald-Bold", "Arial", serif;

// Sizes
$fz-default: 				18px;
$fz-subtitle: 				1.3333rem;
$fz-title:					1.5556rem;
