// Colors
$color-black: 					#000000;
$color-white: 					#FFFFFF;
$color-nero:					#1B1B1B;
$color-very-light-grey:			#CCCCCC;
$color-solitude:				#E6E7EB;
$color-white-smoke:				#F6F6F6;
$color-buttercup: 				#E19D29;
$color-turtle-green: 			#2E3604;
$color-verdun-green: 			#4E5E07;

// Media
$vp-320: 					320px;
$vp-768: 					768px;
$vp-1024: 					1024px;
$vp-1366: 					1366px;

// Typography
$ff-rubik-light: 			"Rubik-Light", "Arial", serif;
$ff-oswald-semi-bold: 		"Oswald-SemiBold", "Arial", serif;
$ff-oswald-bold: 			"Oswald-Bold", "Arial", serif;

// Sizes
$fz-subtitle: 				1.125rem;
$fz-title:					1.5rem;
