@use "global/_var.scss";

.booking {
	padding-top: 8.3333rem;

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
	&__title {
		padding-bottom: 15px;
		border-bottom: 1px solid var.$white;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 100px;
	}

	&__desc {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 430px ;
		gap: 1.6667rem;

		@include vp-1023 {
			grid-template-columns: 1fr minmax(280px, 330px) ;
		}

		@include vp-767 {
			grid-template-columns: 1fr;
		}
	}

	&__desc {
		display: flex;
		flex-direction: column;
	}

	&__images {
		width: 100%;
		display: flex;
		gap: 20px;
	}

	&__image {
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__images-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__thumbnail {
		width: 150px;
		height: auto;
		transition: transform 0.3s ease;

		@include vp-767 {
			cursor: pointer;
		}
	}
}
