@use "global/_var.scss";

.booking {
	padding-bottom: 200px;

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
	&__title {
		padding-bottom: 15px;
		border-bottom: 1px solid var.$white;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 100px;
	}

	&__desc {
		display: flex;
		flex-direction: column;
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr minmax((320px), (710px));
		gap: 100px;

		@include vp-719 {
			grid-template-columns: minmax((280px), (680px));
		}
	}

	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__images {
		width: 100%;
		max-width: 710px;
		display: flex;
		gap: 20px;
	}

	&__image {
		width: 100%;
		max-width: 340px;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			display: block;
		}
	}

	&__images-group {
		width: 100%;
		max-width: 348px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-flex-group: 20px;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			display: block;
		}
	}
}
