@use "_var.scss";

.contract-brewing-intro {
	&__wrapper {
		padding-top: size(300px);
		padding-bottom: size(200px);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: size(150px);
	}

	&__text {
		text-align: center;
	}

	&__button {
		margin-top: size(60px);
	}
}
