@use "global/_var.scss";

.contacts {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__item {
		font-family: $ff-oswald-semi-bold;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 4rem;

		label {
			width: fit-content;
			padding-right: 20px;
		}

		input {
			width: 100%;
			font: {
				family: $ff-rubik-light;
				size: var.$fz-default;
			}
			padding-right: 10px;
			background-color: $color-white;
			color: $color-nero;
			padding: .5rem;
			border: 1px solid $color-nero;
		}
	}
}
