@use "_var.scss";

.contract-brewing-intro {
	&__wrapper {
		padding-top: 12.5rem;
		padding-bottom: 8.3333rem ;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.6667rem;
	}

	&__text {
		text-align: center;
	}

	&__button {
		margin-top: 1.6667rem;
	}
}
