@use "global/_var.scss";

.feedback {
	&__form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3.3333rem;
		margin-top: 4rem;

		@include vp-767 {
			grid-template-columns: 1fr;
		}
	}

	&__button {
		margin: 5rem auto 0;
	}
}
