@use "global/_var.scss";

.footer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 100px;

	&__col-1 {
		text-transform: none;
		gap: 20px;
	}

	&__col-1,
	&__col-2,
	&__col-3 {
		@include flex-center(column);
		justify-content: space-between;
		flex-direction: column;
		height: 100%;
	}

	&__contacts {
		@include flex-center(column);

		gap: 10px;

		span {
			display: block;
			text-align: center;
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}

	&__menu-item {
		@include hover;
	}

	&__tel {
		cursor: pointer;
		@include hover;
	}

	&__logo {
		display: block;
		padding: 0 80px;

		img {
			width: 100%;
		}

		@include vp-719 {
			margin: 10px;
		}
	}

	&__social-list {
		@include flex-center(row);

		flex-wrap: wrap;
		gap: 20px;
	}

	&__social-link {
		@include flex-center(row);
		@include hover;

		fill: var.$white;
		width: 25px;
		height: 25px;

		svg {
			width: 25px;
			height: 25px;
		}
	}
}
