@use "_var.scss";

.footer {
	width: 100%;

	&__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: size(200px) 0;


	}

	&__col-1 {
		text-transform: none;
	}

	&__col-1,
	&__col-2,
	&__col-3 {
		@include flex-center(column);
	}

	&__contacts {
		@include flex-center(column);

		gap: size(40px);

		span {
			display: block;
			text-align: center;
		}
	}

	&__menu {
		@include flex-center(column);
		gap: size(40px)
	}

	&__tel {
		cursor: pointer;
	}

	&__social-list {
		@include flex-center(row);

		flex-wrap: wrap;
		gap: size(40px);
	}

	&__social-link {
		@include flex-center(row);

		fill: var.$white;
		width: 30px;
		height: 30px;
	}
}
