@use "global/_var.scss";

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 4;
	height: 90px;

	&.scrolled {
		background-color: var.$black;
	}

	@include vp-767 {
		border-bottom: none;
	}

	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	&__body {
		display: flex;
		align-items: center;
		height: 90px;

		@include vp-767 {
			justify-content: space-between;
		}
	}

	&__nav {
		width: 100%;

		@include vp-767 {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			height: 100vh;
			padding: 20px;
			background-color: var.$black;
			overflow-y: hidden;
			align-items: flex-start;
			transform: translateX(100%);
			transition: .3s;

			&_active {
				display: flex;
				z-index: 2;
				transform: translateX(0);
			}
		}
	}

	&__menu {
		width: 100%;
		position: relative;
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@include vp-767 {
			flex-direction: column;
			top: 50%;
			transform: translateY(-50%);
			gap: 1rem;
		}
	}

	&__menu-group {
		display: flex;
		justify-content: space-between;
		flex: 1;

		@include vp-767 {
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}
	}

	&__menu-item {
		font: {
			family: var.$ff-oswald-semi-bold;
			size: 1.25rem;
		}

		text-transform: uppercase;
		padding: 4px;
		border-bottom: 1px solid transparent;
		cursor: pointer;

		&:hover {
			border-bottom: 1px solid var.$white;
		}

		&_logo {
			padding: 0;
			border: none;
			flex-shrink: 0;
			margin: 5.625rem;

			&:hover {
				border-bottom: none;
			}

			@include vp-767 {
				margin: 0;
			}
		}
	}

	&__menu-link {
		&_logo {
			display: block;
			max-width: 250px;
			width: 100%;

			img {
				width: 100%;
				max-width: 250px;
			}

			@include vp-767 {
				display: none;
			}
		}

		@include vp-767 {
			font-size: 1.125rem;
		}
	}

	&__hamburger {
		@include vp-767 {
			position: relative;
			width: 40px;
			height: 40px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 3;
			gap: 10px;
			cursor: pointer;
			z-index: 3;
			margin-left: auto;

			span {
				display: block;
				width: 40px;
				height: 2px;
				background-color: var.$white;
				transition: all 0.2s ease;
				cursor: pointer;
				text-align: center;
				border-radius: 2px;
			}

			&_active {
				span {
					text-align: center;
					position: absolute;

					&:first-child {
						transform: rotate(45deg);
					}

					&:last-child {
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
