@use "global/_var.scss";

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 4;
	height: 4.1667rem;

	&.scrolled {
		background-color: rgba(0, 0, 0, .7);
	}

	@include vp-767 {
		border-bottom: none;
	}

	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	&__body {
		display: flex;
		align-items: center;
		height: 4.1667rem;

		@include vp-767 {
			justify-content: flex-end;
		}
	}

	&__nav {
		width: 100%;
		justify-content: space-between;

		@include vp-767 {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			height: 100vh;
			padding: 20px;
			background-color: var.$black;
			overflow-y: hidden;
			align-items: flex-start;

			&_active {
				display: flex;
				z-index: 2;
			}
		}
	}

	&__menu {
		width: 100%;
		position: relative;
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@include vp-767 {
			flex-direction: column;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__menu-item {
		@include vp-767 {
			margin: 20px;

			&_logo {
				margin: 0;
			}
		}
	}

	&__menu-link {
		font-size: 1.1111rem;

		&_logo {
			display: block;

			img {
				width: 100%;
				max-width: 10.4167rem;
			}

			@include vp-767 {
				display: none;
			}

			&:hover {
				opacity: 1;
			}
		}

		@include hover;

		@include vp-767 {
			font-size: 1.125rem;
		}
	}

	&__hamburger {
		@include vp-767 {
			position: relative;
			width: 40px;
			height: 40px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 3;
			gap: 10px;
			cursor: pointer;
			z-index: 3;

			span {
				display: block;
				width: 40px;
				height: 2px;
				background-color: var.$white;
				transition: all 0.2s ease;
				cursor: pointer;
				text-align: center;
				border-radius: 2px;
			}

			&_active {
				span {
					text-align: center;
					position: absolute;

					&:first-child {
						transform: rotate(45deg);
					}

					&:last-child {
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
