@use "global/_var.scss";

.intro {
	padding-top: 8.75rem;

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: .625rem;
		text-align: left
	}

	&__ph {
		color: $color-nero;
	}

	&__button {
		margin: 2.5rem auto 0;
	}
}
