.intro-slider {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	&__gallery {
		aspect-ratio: 16 / 9;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		gap: 1.875rem;

		svg {
			width: 5rem;
			height: .9375rem;
			cursor: pointer;
		}
	}
}
