@use "_var.scss";

.master-class-intro {
	&__wrapper {
		padding-top: size(300px);
		padding-bottom: size(200px);
		display: flex;
		flex-direction: column;
		gap: size(150px);
	}

	&__text {
		text-align: center;
	}
}
