@use "global/_var.scss";

.offers {
	padding-bottom: 200px;

	&__title {
		padding-bottom: 15px;
		border-bottom: 1px solid var.$white;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 100px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__content {
		display: grid;
		grid-template-columns: minmax((320px), 710px) 1fr;
		gap: 100px;

		@include vp-719 {
			grid-template-columns: minmax((280px), 680px);
		}
	}

	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__img {
		width: 100%;
		max-width: 710px;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			display: block;
		}
	}
}
