@use "global/_var.scss";

.offers {
	&__title {
		padding-bottom: size(15px);
		border-bottom: size(1px) solid var.$white;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: size(100px);
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: size(50px);
	}

	&__content {
		display: grid;
		grid-template-columns: minmax(size(320px), size(710px)) 1fr;
		gap: size(100px);

		@include vp-719 {
			grid-template-columns: minmax(size(280px), size(680px));
		}
	}

	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__img {
		width: 100%;
		max-width: size(710px);

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			display: block;
		}
	}
}
