@use "global/_var.scss";

.offers {
	padding-bottom: 8.3333rem;

	&__title {
		padding-bottom: 15px;
		border-bottom: 1px solid var.$white;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 6.25rem;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 2.0833rem;
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.6667rem;
		align-items: stretch;

		@include vp-1023 {
			grid-template-columns: 1fr minmax(280px, 330px);
		}

		@include vp-767 {
			grid-template-columns: 1fr;
		}
	}

	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 0.8333rem;
	}

	&__img {
		width: 100%;
		height: 100%;


		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}
}
