@use "global/_var.scss";

.preview {
	padding: 8.3333rem 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.8333rem;
	background-color: var.$white-smoke;

	@include vp-767 {
		gap: 6.25rem;
		margin: 0 auto;
		padding-left: 0.8333rem;
		padding-right: 0.8333rem;
	}

	&__title {
		color: var.$black;
		text-align: center;
	}

	&__blocks {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.25rem;

		@include vp-767 {
			flex-direction: column;
		}
	}

	&__image {
		position: relative;
		gap: 20px;
		display: flex;
		flex-direction: column;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__image-title {
		display: none;

		@media (min-width: 1024px) {
			font: {
				size: 22px;
				family: var.$ff-oswald-semi-bold;
			}

			text-transform: uppercase;
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			padding: 0.8333rem;
			text-align: center;
		}
	}

	&__block {
		position: relative;
		overflow: hidden;
		cursor: pointer;
		width: 100%;

		@media (min-width: 1024px) {
			&:hover .preview__overlay {
				transform: translateY(0);
				z-index: 2;
			}

			&:hover .preview__image-title {
				display: none;
			}
		}
	}

	&__overlay {
		display: flex;
		justify-content: center;
		gap: 20px;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		transform: translateY(200%);
		transition: transform 0.3s ease-in-out;
		background-color: rgba(0, 0, 0, 0.8);
		align-items: center;

		@include vp-1023 {
			padding: 0;
			max-width: 100%;
			position: relative;
			transform: translateY(0);
			height: auto;
			justify-content: flex-start;
		}
	}

	&__body {
		position: absolute;
		transition: transform 0.3s ease-in-out;
		width: 100%;
		padding: 1.6667rem;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1.6667rem;

		@include vp-1023 {
			position: relative;
			padding: 0;
			padding: 0.8333rem;
			max-width: 100%;
			border: none;
		}

		@include vp-767 {
			background-color: var.$nero;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 0.8333rem;
	}

	&__paragraph {
		display: flex;
		flex-direction: column;
	}

	&__paragraph-title {
		font: {
			family: var.$ff-oswald-semi-bold;
			size: 1.25rem;
		}

		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	&__paragraph-text {
		margin-bottom: 0.5rem;
	}
}
