@use "global/_var.scss";

.preview {
	padding-bottom: 8.3333rem;
	display: flex;
	flex-direction: column;
	gap: 0.8333rem;

	@include vp-767 {
		gap: 6.25rem;
		margin: 0 auto;
		padding-left: 0.8333rem;
		padding-right: 0.8333rem;
	}

	&__block-1 {
		@media (min-width: 1024px) {
			.preview__image-title {
				display: flex;
				justify-content: center;
			}
		}

		@include vp-1023 {
			display: flex;
			flex-direction: column;
		}
	}

	&__block-2 {
		display: flex;
		gap: 20px;

		.preview__content {
			max-width: 90%;
			padding: 0.8333rem;
		}

		.preview__title {
			font-size: var.$fz-subtitle;
		}

		@include vp-1023 {
			.preview__content {
				max-width: 100%;
				height: 100%;
				padding: 0;
				padding-top: 0.8333rem;
			}
		}

		@include vp-767 {
			flex-direction: column;
			gap: 6.25rem;
		}
	}

	&__image {
		position: relative;
		gap: 20px;
		display: flex;
		flex-direction: column;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__image-title {
		display: none;

		@media (min-width: 1024px) {
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			padding: 0.8333rem;
		}
	}

	&__content-wrapper {
		position: relative;
		overflow: hidden;
		cursor: pointer;
		width: 100%;

		@media (min-width: 1024px) {
			&:hover .preview__overlay {
				transform: translateY(0);
				z-index: 2;
			}

			&:hover .preview__image-title {
				display: none;
			}
		}
	}

	&__overlay {
		display: flex;
		justify-content: center;
		gap: 20px;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		transform: translateY(200%);
		transition: transform 0.3s ease-in-out;
		background-color: rgba(0, 0, 0, 0.8);
		align-items: center;

		@include vp-1023 {
			padding: 0;
			max-width: 100%;
			position: relative;
			transform: translateY(0);
			height: auto;
		}
	}

	&__content {
		position: absolute;
		transition: transform 0.3s ease-in-out;
		border: 1px solid var.$white;
		width: 100%;
		padding: 1.6667rem;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1.6667rem;

		@include vp-1023 {
			position: relative;
			padding: 0;
			padding-top: 0.8333rem;
			max-width: 100%;
			border: none;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 0.8333rem;
	}
}
