@use "global/_var.scss";

.preview {
	padding-bottom: 8.3333rem;
	display: flex;
	flex-direction: column;
	gap: 0.8333rem;

	@include vp-767 {
		gap: 6.25rem;
	}

	&__block-1 {
		@include vp-1023 {
			display: flex;
			flex-direction: column;
		}
	}

	&__block-2 {
		display: flex;
		gap: 20px;

		@include vp-767 {
			flex-direction: column;
			gap: 6.25rem;
		}
	}

	&__image {
		position: relative;
		gap: 20px;
		display: flex;
		flex-direction: column;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__image-title {
		display: none;

		@media (min-width: 1024px) {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			padding: 0.8333rem;
		}
	}

	&__content-wrapper {
		position: relative;
		overflow: hidden;

		@media (min-width: 1024px) {
			&:hover .preview__content {
				transform: translateY(0);
				z-index: 2;
			}

			&:hover .preview__image-title {
				display: none;
			}
		}

	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		padding: 4.1667rem;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
		transition: transform 0.3s ease-in-out;
		background-color: rgba(0, 0, 0, 0.7);

		@include vp-1023 {
			padding: 20px;
			max-width: 600px;
			position: relative;
			transform: translateY(0);
			height: fit-content;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
