@use "global/_var.scss";

.program {
	display: flex;
	flex-direction: column;
	gap: 1.6667rem;

	&__title {
		font-size: $fz-subtitle;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.625rem;
	}

	&__details {
		display: flex;
		flex-direction: column;
		gap: 0.4167rem;
		font-size: 0.8333rem;
	}

	&__details-item {
		display: flex;
		align-items: center;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}
