@use "global/_var.scss";

.selects {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__select {
		position: relative;
		cursor: pointer;
		background-color: $color-white;
		border: 1px solid $color-very-light-grey;

		&::after {
			position: absolute;
			content: "";
			width: 30px;
			height: 20px;
			cursor: pointer;
			background-image: url("../../icons/arrow.svg") 0 0 no-repeat;
		}
	}

	&__title {
		font-family: $ff-oswald-semi-bold;
		padding-left: 0.4167rem;
	}

	&__item {
		height: 4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__current {
		width: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: .5rem;
	}

	&__list {
		position: absolute;
		display: none;
		width: 100%;
		max-height: 100px;
		top: 100%;
		background-color: $color-white;
		overflow-y: scroll;
		outline: 1px solid $color-very-light-grey;

		&::-webkit-scrollbar {
			background-color: $color-solitude;
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $color-very-light-grey;
		}
	}

	&__list.active {
		display: flex;
		flex-direction: column;
		z-index: 2;
	}

	&__list-item {
		width: 100%;
		cursor: pointer;
		padding: 5px 10px;

		&.selected {
			background-color: #f0f0f0;
			color: #000;
		}
	}

	&__arrow {
		position: absolute;
		fill: $color-nero;
		width: 15px;
		height: 15px;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}
}
