@use "global/_var.scss";

.services {
	display: flex;
	flex-direction: column;
	gap: size(40px);

	&__item {
		position: relative;

		&:hover {
			& > .services__title-wrapper {
				display: none;
			}

			& > .services__content-wrapper {
				display: block;
			}
		}
	}

	&__title-wrapper {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: var.$black;
		opacity: 0.7;
		padding: size(50px) 0;
	}

	&__title {
		position: absolute;
		bottom: 0;
		width: 100%;
		max-width: size(1440px);
		margin: 0 auto;
		padding: 0 size(100px);
	}

	&__content-wrapper {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.7;
	}

	&__content {
		height: 100%;
		max-width: size(1440px);
		margin: 0 auto;
		padding: 0 size(100px);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__item-block {
		display: flex;
		gap: size(40px);

		@include vp-719 {
			flex-direction: column;
		}
	}
}
