@use "global/_var.scss";

.tours {
	padding-top: 8.3333rem;
	padding-bottom: 8.3333rem;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 6.25rem;
		max-width: 1200px;
		margin: 0 auto;
	}

	&__title {
		text-align: center;
		padding-bottom: 6.25rem;
	}

	&__item {
		display: grid;
		gap: 2rem;
		grid-template-columns: minmax(320px, 420px) minmax(320px, 420px);
		margin: 0 auto;

		&_2,
		&_4 {
			grid-template-columns: minmax(320px, 420px) minmax(320px, 420px);

			.info-box__desc {
				order: 2;
			}

			.info-box__img {
				order: 1;
			}
		}

		@include vp-767 {
			grid-template-columns: minmax(280px, 1fr);

			&_2,
			&_4 {
				.info-box__desc {
					order: 1;
				}

				.info-box__img {
					order: 2;
				}
			}
		}
	}
}
