@use "global/_var.scss";

.calendar-modal {
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #000;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

	&.visible {
		display: flex;
	}

	&__wrapper {
		position: relative;
		display: grid;
		grid-template-columns: 1fr minmax(280px, 400px);
		gap: 1.6667rem;
		padding: 3.3333rem 1.6667rem 1.6667rem;
		background-color: var.$white;

		@include vp-767 {
			grid-template-columns: 1fr;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		background: none;
		border: none;
		font-size: 1.5rem;
		color: var.$black;
		cursor: pointer;
	}

	&__footer {
		margin-top: auto;
		display: flex;
		justify-content: center;
	}

	&__button {
		background-color: var.$black;
	}
}
