@use "_var.scss";

.button {
	width: size(250px);
	height: size(60px);
	font-size: size(22px);
	padding: size(20px);
	border: size(1px) solid var.$white;
	text-align: center;
	color: var.$white;
	text-transform: lowercase;
	cursor: pointer;
}

.select {
	position: relative;
	border: size(1px) solid var.$white;
	padding: size(20px);
	cursor: pointer;

	&::after {
		position: absolute;
		content: "";
		width: size(30px);
		height: size(20px);
		cursor: pointer;
		background-image: url("../../icons/arrow.svg") 0 0 no-repeat;
	}
}
