@use "global/_var.scss";

.button {
	max-width: 300px;
	width: 100%;
	display: block;
	font: {
		size: 1rem;
		family: var.$ff-oswald-semi-bold;
	}
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	background-color: $color-buttercup;
	color: $color-white;

	@include vp-767 {
		font-size: 0.875rem;
	}
}
