@use "global/_var.scss";

.button {
	max-width: 300px;
	width: 100%;
	display: block;
	font-size: 0.8333rem;
	padding: 10px;
	border: 1px solid var.$white;
	text-align: center;
	color: var.$white;
	text-transform: lowercase;
	cursor: pointer;

	@include hover;
}

.select {
	position: relative;
	border: 1px solid var.$white;
	padding: 20px;
	cursor: pointer;

	&::after {
		position: absolute;
		content: "";
		width: 30px;
		height: 20px;
		cursor: pointer;
		background-image: url("../../icons/arrow.svg") 0 0 no-repeat;
	}
}
