@use "global/_var.scss";

.intro {
	&__title {
		text-align: center;
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2.5rem;

		@include vp-767 {
			grid-template-columns: 1fr;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: .625rem;
		text-align: left;
	}

	&__ph {
		color: $color-nero;
	}

	&__button {
		margin-top: auto;
	}
}
