@use "global/_var.scss";

.intro {
	display: flex;
	gap: 2.5rem;

	&__text-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1.25rem;
		text-align: center;
	}

	&__text {
		color: $nero;
	}
}
