.tabs {
	&__nav {
		display: flex;
		gap: 10px;
	}

	&__btn {
		font: {
			family: $ff-gotham-medium;
			size: $fz-subtitle;
		}

		padding: 10px 20px;
		border: none;
		background-color: $color-white;
		border: 1px solid $color-cinnabar;
		cursor: pointer;
		transition: 0.3s;

		&:first-child {
			position: relative;
			border-bottom: none;

			&::after {
				content: "";
				position: absolute;
				width: 100vw;
				height: 1px;
				bottom: 0;
				right: 0;
				background-color: $color-cinnabar;
			}
		}
	}

	&__btn.active {
		background: $color-cinnabar;
		color: $color-white;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: .875rem;

		border: {
			left: 1px solid $color-cinnabar;
			bottom: 1px solid $color-cinnabar;
		}

		padding: 1.875rem 1.25rem
	}

	&__ph {
		&_bold {
			font: {
				family: $ff-gotham-medium;
			}

			margin-top: auto;
		}
	}

	&__panel {
		display: none;
	}

	&__panel.active {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.25rem;
	}
}
