.tabs {
	&_nav {
		display: flex;
		gap: 10px;
		margin-bottom: 20px;
	}

	&__btn {
		font: {
			family: $ff-gotham-medium;
			size: $fz-subtitle;
		}
		padding: 10px 20px;
		border: none;
		background: #eee;
		cursor: pointer;
		transition: 0.3s;
	}

	&__btn.active {
		background: #0B161E;
		color: #fff;
	}

	&__panel {
		display: none;
	}

	&__panel.active {
		display: flex;
		flex-direction: column;
		gap: .625rem;
	}
}
