@use "global/_var.scss";

.video {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.7);
		gap: 1rem;
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		text-align: center;
		color: var.$white;
	}

	&__subtitle {
		font-size: var.$fz-subtitle;
	}

	&__text {
		font-size: 1.25rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin-bottom: 2.25rem;
	}

	&__logo {
		display: none;

		@include vp-767 {
			display: block;
		}
	}

	&__button {
		background-color: var.$black;
		color: var.$white;

		a {
			width: 100%;
			display: block;
		}

		&:hover {
			background-color: var.$white;
			color: var.$black;
		}
	}
}
