@use "global/_var.scss";

.video {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		padding: 40px 20px;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		text-align: center;
	}

	&__subtitle {
		font-size: var.$fz-subtitle;
	}

	&__text {
		font-size: 0.8333rem;
	}

	&__logo {
		display: none;

		@include vp-767 {
			display: block;
		}
	}
}
